# Géré par Ansible — ne pas éditer à la main
PermitRootLogin {{ hardening_ssh_permit_root_login }}
PasswordAuthentication {{ hardening_ssh_password_authentication }}
PubkeyAuthentication yes
X11Forwarding no
MaxAuthTries 3
ClientAliveInterval 300
ClientAliveCountMax 2
